
body {
  background-color: #999; /*this is black font*/
  font-size: 87.5%; /*Base font size is 14px?*/
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}
/*since all a's are links we convieniently want to eliminate all underlines*/
a {
  text-decoration: none;
}

a:link, a:visited {

}

a:hover, a:active{

}

.body{
  margin: 0 auto;
  width: 70%;
  clear: both; /*This ensures that there will be no floating elements to the left or right*/
}

.mainheader img{
  width: 30%;
  height: auto;
  margin: 2% 0; /*The margin pushes the picture down so that it wont be on the top with the border*/
                /*The value of margin: 0 removes the 2%left and right so it aligns with First Post*/
}

.mainheader nav {
  background-color: #666;
  height: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.mainheader nav ul {
  list-style: none;
  margin: 0 auto; /*margin: 0 made it closer to the image. Also the image already has a 2% margin*/
}

.mainheader nav ul li{
  float: left; /*made links Home About go left line up horizontally (they were vertical before) and go left*/
  display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited{
  color: #FFF;
  display: inline-block;
  padding: 10px 25px; /*Padding should be used for word-spacing and it made it center the wordsin the nav bar*/
  height: 20px; /*this allows the classes at the bottom v to be aligned with this header*/
  /*You know these will equal because the .mainheader nav has height of 40px and this has 10px padding so the height: 20px is answer;*/
}

.mainheader nav a:hover, .mainheader nav a:visited,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
  background-color: #CF5C3F;
  
}

.mainheader nav ul li a { /*this styles the ORANGE LINK squares to have rounded corners*/
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

}

.mainContent {
  line-height: 25px; /*this separates the space between each line*/
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden; /*The overflow property specifies what to do if the content of an element exceeds the size of the element's box.*/
}

.content {
  width: 70%;
  float: left;
}

.topcontent{
  background-color: #FFF;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3% 5%; /*padding: 3% increased the top/bottom white area but 5% only centered the font*/
  margin-top: 2%; /*prevents from touching Home headbar*/
}

.bottomcontent{
    background-color: #FFF;
    border-radius: 5px;
  -webkit-border-radius: 5px; /*don't need webkit for css3*/
  -moz-border-radius: 5px;
  padding: 3% 5%; /*padding: 3% increased the top/bottom white area but 5% only centered the font*/
  margin-top: 2%; /*prevents from .topcontent bottom-border*/
}

.top-sidebar {
  width: 25%;
  float: left;
  background-color: #FFF;
}

.middle-sidebar {
  width: 25%;
  float: left;
  background-color: #FFF;
}

.bottom-sidebar {
  width: 25%;
  float: left;
  background-color: #FFF;
}